a, button, [type="submit"], [type="button"] {
	outline: none !important;
}

nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav img {
	width: 70%;
	height: 70%;
}

nav .user-zone {
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 16px;
	position:relative;
	top:7px;
}

nav .user-zone span {
	color: #55f;
}

nav h3 span {
	position: relative;
	right: 130px;
	bottom: 0px;
}
.container{
	margin-bottom:15px;
}
.left-part .title {
	font-size: 18px;
	padding-left: 25px;
	margin-top: 20px;
}

.left-part .title span {
	position: relative;
	top: 4px;
}

.left-part .sub-title {
	padding-left: 50px;
	margin-top: 5px;
}

.left-part .sub-title a {
	text-decoration: none;
	color: #666;
}

.left-part .sub-title a.active {
	color: #337ab7;
}

.right-part {
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
	padding-top: 0px;
	margin-left: -20px;
}

.right-part .part-header {
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	padding-left:20px;
	padding-bottom: 5px;
}
.right-part .part-body {
	margin-top: 15px;
	margin-bottom: 15px;
	min-height:420px;
}

.right-part table thead {
	background: #eee;
}

.right-part table thead th {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.right-part table tbody button {
}

footer {
	background-color: #eee;
	padding: 15px 0;
}