#order_content{
	width:1100px;
	margin:auto;
	min-height:520px;
}
.order_table{
	width:1100px;
box-shadow: 0 0px 6px rgba(0,0,0,.5);
min-height:300px;

}
footer.text-center{
	width:100%;
	margin-top:30px;
}
